EasyTicket/EasyTicketMVC/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EasyTicketLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EasyTicketLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preferences" nillable="true" type="tns:UserPreferences" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="UserPreferences">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalAddress" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="ArrivalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ComfortClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureAddress" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="DepartureDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumberOfAdults" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfChildren" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfInfants" type="xs:int" />
      <xs:element minOccurs="0" name="PreferDirectedRoutes" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransportType" type="xs:int" />
      <xs:element minOccurs="0" name="UserPreferencesId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPreferences" nillable="true" type="tns:UserPreferences" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DBahnPlaceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkyScannerPlaceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>