EasyTicket/EasyTicketWPF/Service References/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3164/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EasyTicketLogic" />
  <xs:element name="CheckNewOffer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckNewOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckNewOfferResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailToAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailToAllResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisteredUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisteredUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisteredUsersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPreferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EasyTicketLogic" minOccurs="0" name="user" nillable="true" type="q1:User" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EasyTicketLogic" minOccurs="0" name="userPrefs" nillable="true" type="q2:UserPreferences" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPreferencesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOffers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOffersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>