EasyTicket/EasyTicketWCFServer/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3164/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3164/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3164/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EasyTicketLogic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CheckNewOffer_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNewOffer" />
  </wsdl:message>
  <wsdl:message name="IService_CheckNewOffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNewOfferResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendMailToAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailToAll" />
  </wsdl:message>
  <wsdl:message name="IService_SendMailToAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailToAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RegisteredUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisteredUsers" />
  </wsdl:message>
  <wsdl:message name="IService_RegisteredUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisteredUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterPreferences_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPreferences" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterPreferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CheckOffers_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOffers" />
  </wsdl:message>
  <wsdl:message name="IService_CheckOffers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOffersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CheckNewOffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckNewOffer" message="tns:IService_CheckNewOffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckNewOfferResponse" message="tns:IService_CheckNewOffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailToAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendMailToAll" message="tns:IService_SendMailToAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendMailToAllResponse" message="tns:IService_SendMailToAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisteredUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RegisteredUsers" message="tns:IService_RegisteredUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisteredUsersResponse" message="tns:IService_RegisteredUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPreferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RegisterPreferences" message="tns:IService_RegisterPreferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterPreferencesResponse" message="tns:IService_RegisterPreferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOffers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckOffers" message="tns:IService_CheckOffers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckOffersResponse" message="tns:IService_CheckOffers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckNewOffer">
      <soap:operation soapAction="http://tempuri.org/IService/CheckNewOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailToAll">
      <soap:operation soapAction="http://tempuri.org/IService/SendMailToAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisteredUsers">
      <soap:operation soapAction="http://tempuri.org/IService/RegisteredUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPreferences">
      <soap:operation soapAction="http://tempuri.org/IService/RegisterPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOffers">
      <soap:operation soapAction="http://tempuri.org/IService/CheckOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:3164/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>